@import "mixins";

.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.boxMain {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;

  @include respond-to("mobile") {
    height: 90vh;
    width: map-get($breakpoints, "mobile", "min-width");
  }
}
